<!DOCTYPE html>
<html lang="pt-BR">

<head>
  {% include "global/partials/head.html" %}
  <title>Recipes | {% block title%}{% endblock title %}</title>
<head>

<body>
  {% include "app_cadastro_usuarios/partials/header.html" %}
  {% comment %} {% include "recipes/partials/search.html" %} {% endcomment %}

  <main class="main-content-container">
    {% block content %}{% endblock content %}
    {% include "global/partials/pagination.html" %}
  </main>

  {% include "global/partials/rodapé.html" %}
<body>

</html>