<div class=" {% if type_screen == "Register" %} main-content-forms-register {% else %} main-content-forms-login {% endif %} container">
  <form action="{{ form_action }}" method="POST" class="formulario-cadastro">
    {% if type_screen == "Register" or type_screen == "Login" %} 
    <div class="form-content icon center">
      <h1>
        <i class="fa-sharp fa-solid fa-address-card"></i>
        <span>{{title_template}}</span>
      </h1>
    </div>
    {% endif %}
    {% csrf_token %}
    <div class="{% if type_screen == "Register" %} form-content-entry form-content-grid {% else %} form-entry {% endif %}">
      {% for field in form %}
        <div class="form-group {% if type_screen == "Login" %} center-form-login {% endif %} {{ field.field.widget.attrs.class }}">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{field}}

          {% if field.help_text %}
            <p class="help-text">{{ field.help_text }}</p>
          {% endif %}

          {{ field.errors }}
        </div>
        
        {% if field.name == "cover" and field.value.url %}
          <div class="span-2">
            <img src="{{ field.value.url }}" alt="Capa para  {{ recipe.title }}">
          </div>
        {% endif %}

      {% endfor %}
    </div>

    <div class="form-content form-content-grid">
      <div class="form-group">
        {% include "global/partials/messages.html" %}
        {% comment %} {% if form.errors %}
          <div class="message message-error">
            Por favor corrija os erros no formulário
          </div>
        {% endif %} {% endcomment %}
      </div>
    </div>    
    
    
    <div class="form-content form-content-grid {% if type_screen == "Login" %} center {% endif %}">
      <div class="form-group">
        <button type="submit">ENVIAR</button>
      </div>
    </div>
  </form>
</div>