<div class="main-content-forms container">
    <form action="{{ form_action }}" method="POST" class="formulario-cadastro">
      <div class="form-content icon center">
        <h1>
          <i class="fa-sharp fa-solid fa-address-card"></i>
          <span>Register</span>
        </h1>
      </div>
      {% csrf_token %}
      
      <div class="form-content form-content-grid">
        {% for field in form %}
          <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{field}}
  
            {% if field.help_text %}
              <p class="help-text">{{ field.help_text }}</p>
            {% endif %}
  
            {{ field.errors }}
          </div>
        {% endfor %}
      </div>
  
      <div class="form-content form-content-grid">
        <div class="form-group">
          {% include "global/partials/messages.html" %}
          {% comment %} {% if form.errors %}
            <div class="message message-error">
              Por favor corrija os erros no formulário
            </div>
          {% endif %} {% endcomment %}
        </div>
      </div>    
      
      
      <div class="form-content form-content-grid">
        <div class="form-group">
          <button type="submit">ENVIAR</button>
        </div>
      </div>
    </form>
</div>