{% include "recipes/partials/head.html" %}

<body>
  {% include "recipes/partials/header.html" %}
  {% include "recipes/partials/search.html" %}

  <main class="main-content-container">
    <div class="main-content main-content-list container">
      <div class="recipe recipe-list-item">
        <div class="recipe-cover">
          <img src="https://img2.wallspic.com/crops/4/8/0/6/6/166084/166084-comida_sana_en_casa-dieta_saludable-nutricion-cocina-comida-1280x720.jpg" alt="temporario">
        </div>
      </div>
    </div>

  </main>


<body>
</html>